/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
    font-family: 'Lora', serif;
    width:100vw;
}

.wrapper{
    background-image: url("img/living-room.png");
    position: fixed;
    height:100vh;
    background-repeat: no-repeat;
    position: relative;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.wrapper--logo img{
    z-index: 10;
    width:110px;
    height:110px;
    position: absolute;
    top:20px;
    left:20px;
    filter: grayscale(0%);
}

.nav-list{
    display:flex;
    justify-content: flex-end;
    padding:20px;
}

.nav-list li{

    list-style-type: none;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 400;
    color:white;
    margin:25px;
       filter:drop-shadow(3px 3px 1px #000);
}

.nav-list a{
        text-decoration: none;
}

.nav-list li:hover{
    color:#bbe5b3;
    cursor:pointer;
}

.wrapper-title{
    color:white;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top:150px;
    
}

.title-big{
    font-size: 90px;
    font-weight:900px;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    filter:drop-shadow(7px 7px 6px #000);
    
}
.title-small{
    font-size:30px;
    letter-spacing: 4px;
    margin-top:20px;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    filter:drop-shadow(7px 7px 6px #000);
}

.about-us{
    display: flex;
}

.about-us--col-1{
    width:50%;
    margin:10px 90px;  
}

.about-us--col-2{
    width:50%;
    align-items: center;
}

.description{
    font-size:30px;
    font-weight: 400;
    letter-spacing: 3px;
    margin-bottom: 30px;
    margin-top: 60px;
}

.what-we-do--text{
    line-height:30px;
    font-size:20px;
    color:#5a6362;
}

.what-we-do-img{
    width:400px;
    display: block;
    margin:30px;
}

.background--1{
    background-image: url("img/fixed.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    height:80vh;
}

.our-partners{
    height:100vh;
     margin:10px 90px;
}

.logos-img{
    width:1000px;
}

.background--2{
    background-image: url("img/fixed1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    height:80vh;
}

.awards{
    height:70vh;
    margin:10px 90px;
}

.awards-columns{
    display: flex;
}

.award-box{
    display:flex;
    margin:15px;
}

.circle-box{
    width:100px;
    height:100px;
}
.circle{
    margin-top:30px;
    border-radius: 50%;
    background: linear-gradient(rgb(206, 177, 74), rgb(245, 249, 194));
    width:100px;
    height:100px;
    border:1px solid silver;
    font-weight: 700;
    text-align: center;
    transition: all 1s;
}
.circle:hover{
    transform: scale(1.1);
    background: linear-gradient(rgb(245, 249, 194), rgb(206, 177, 74));
}

.award--details{
    margin:20px;
}

.award-title{
    font-size:25px;
    font-weight: 700;
    margin-bottom:15px;
}

.award-description{
    line-height:20px;
    font-size: 20px;
    color:#5a6362;
}

footer{
    height:50vh;
    background-color: lightgray;
    display:flex;
}

.footer-desc{
    font-size: 18px;
}

.profiles{
    flex-basis: 60%;  
    padding-top:20px;
}

.our-profiles{
    list-style-type: none;
    width:50%;
    display:flex;
}

.our-profiles a li img{
    margin:10px;
    margin-top:-10px;
    width:30px;
}

.our-profiles a li img:hover{
    filter:drop-shadow(7px 7px 6px #000);
}

.contact{
    margin:50px;
    color:#404244;
    flex-basis: 40%;
    margin-left:120px;
}
.contact-us{
    list-style-type: none;

}

.contact-us li{
    line-height:30px;

}

.contact-us li:first-of-type{
    margin-top:25px;
}

.profiles{
    margin:30px;
    color:#404244;
}